<div class="dashboard">
  <div class="header">
    <h1 class="index-h1">Welcome to Lab 2-3<h1/>
  </div>
  <div class="useful-links">
    <h2 class="index-h2">Useful links:</h2>
    <ul>
      <li>
        <div class="link">
          <a href="/trello">Trello Mock</a>
        </div>
      </li>
      <li>
        <div class="link">
          <a href="/about">About Me</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="image">
    <img src="images/duck.jpg">
  </div>
</div>
