<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/app.css">
    <link rel="stylesheet" type="text/css" href="/styles/page.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>