<h1>Todo</h1>
<div class="today-list">
  
  <div class="list-header">Today</div>
    <% items.each do |i|%>
      <%= erb :"_item.html", locals: {name: i[:name], done: i[:done]} %>
    <% end %>
  <input type="text" placeholder="Click to add task...">
</div>