<html>
  <head>
    <title>Lab 2-3b</title>
      <link rel="stylesheet" type="text/css" href="/styles/app.css">
  </head>
  <body>
    <h1>Todo</h1>
<div class="today-list">
  
  <div class="list-header">Today</div>
    
    <div class="item">
      <div class="done-button">
          <button class="done">Done</button>
      </div>
      <div class="item-text-undone">Learn Strings</div>
    </div>
  
    <div class="item">
      <div class="done-button">
        <button class="done">Done</button>
      </div>
      <div class="item-text-undone">Learn Numbers</div>   
    </div>
    
     <div class="item">
        <div class="undo-button">
          <button class="undo">Undo</button>
        </div>
       <div class="item-text-done">Learn Variables</div>   
    </div>
  
      <div class="item">
        <div class="done-button">
            <button class="done">Done</button>
          </div>
        <div class="item-text-undone">Learn Hash</div>
    </div>

      <div class="item">
        <div class="done-button">
            <button class="done">Done</button>
          </div>
        <div class="item-text-undone">Learn Methods</div>  
    </div>
  
      <div class="item">
        <div class="undo-button">
          <button class="undo">Undo</button>
        </div>
      <div class="item-text-done">Learn Class</div>

    </div>
  
    <div class="item">
      <div class="done-button">
            <button class="done">Done</button>
      </div>
        <div class="item-text-undone">Learn File Reading</div>
    </div>  
  
  <input type="text" placeholder="Click to add task...">
</div>
  </body>
</html>