<html>
  <body>
    <h1 id="heading" style="color: red">Milestone C1</h1>

    <h2>Todo</h2>
    
    <ul>
      <li class="item">Learn getElementById</li>
      <li class="item">Learn getELementByTagName</li>
      <li class="item">Learn getElementByClassName</li>
    </ul>

    <script src="js/c1.js"></script>
  </body>
</html>